<a href="https://colab.research.google.com/github/dfdavila2/Projects/blob/master/Spreadsheet_creator_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !pip install openai

In [2]:
import os
import openai

# OPENAI_API_KEY = 
# openai.api_key = os.getenv("F6p84OW5ve0Pirol7hJPT3BlbkFJGvxS4cYtSH3rWikuEPZh")

openai.api_key = "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"

response = openai.Completion.create(
  model="text-davinci-003",
  prompt="A two-column spreadsheet of top science fiction movies and the year of release:\n\nTitle |  Year of release",
  temperature=0.5,
  max_tokens=1,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0
)

In [3]:
response

<OpenAIObject text_completion id=cmpl-6kfdsiE4UcaRfgkHXwZUoPeljIhEd at 0x7f8a642fa540> JSON: {
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "\n"
    }
  ],
  "created": 1676581180,
  "id": "cmpl-6kfdsiE4UcaRfgkHXwZUoPeljIhEd",
  "model": "text-davinci-003",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 1,
    "prompt_tokens": 24,
    "total_tokens": 25
  }
}

In [10]:
completion = openai.Completion.create(
  model="text-davinci-003",
  prompt="A data table with these specifications: \
  1. Industry field must contain the following values in random order: Technology, Healthcare , Finance, Other\
  2. Account Name field must contain names of Tech companies around the Globe\
  3. Opportunity Stage field must contain the following values in random order: Closed Won, Closed Lost, Proposal, Negotiation\
  4. Type field must contain the following categories in random order: Email, Meeting, Social Media, Call, Other\
  5. Close Date field must be in mm-dd-yyyy format for FY 2022\
  6. Amount field must contain values within the 50-2700000 range\
  7. Opportunity ID must follow this sequence: 0061I00000PYtRR where last 5 digits are random\
  8. Activity ID must follow this sequence: 00T1I000028fQeL where last 5 digits are random\
  9. The data set cosists of 8 columns arranged in this order:\
  'Industry'|  'Account Name'|  'Opportunity Stage'|  'Opportunity ID'| 'Activity ID'|  'Type' | 'Close Date'|  'Amount'",
  temperature=0.5,
  max_tokens=3857,
  top_p=1.0,
  frequency_penalty=0.0,
  presence_penalty=0.0
)

f = print(completion.choices[0].text)

Industry|Account Name|Opportunity Stage|Opportunity ID|Activity ID|Type|Close Date|Amount
Technology|Google|Closed Lost|0061I00000PYtRR7|00T1I000028fQeL2|Meeting|05-01-2022|3000000
Healthcare|Microsoft|Proposal|0061I00000PYtRR8|00T1I000028fQeL3|Email|04-15-2022|1000000
Finance|Apple|Negotiation|0061I00000PYtRR9|00T1I000028fQeL4|Social Media|03-30-2022|600000
Other|Amazon|Closed Won|0061I00000PYtRRA|00T1I000028fQeL5|Call|02-15-2022|2700000

In [11]:
# Importing Pandas to create DataFrame
import pandas as pd
  
data=[completion.choices[0].text]
columns=['Industry','Account Name','Opportunity Stage','Opportunity ID','Activity ID','Type','Close Date','Amount']

# Creating Empty DataFrame and Storing it in variable df
df = pd.DataFrame(data)
  
# Printing Empty DataFrame
print(df)

                                                   0
0  \n\nIndustry|Account Name|Opportunity Stage|Op...

In [12]:
df.tail()

                                                   0
0  \n\nIndustry|Account Name|Opportunity Stage|Op...

In [13]:
df.to_csv('3857.csv', encoding='UTF-8', header=True, index=False)